<div class="message question">
  <p><%= @question %></p>
  <p>--You</p>
</div>
<div class="message answer">
  <p><%= @answer %></p>
  <p>--Coach</p>
</div>



<br>
<a href="http://localhost:3000/ask">Ask another question</a>
